/node_modules
.env
.env.*
.vscode
/.vscode
/dist
/build
/coverage

# backend
/logs
/tmp    
/database.sqlite
/uploads
/uploads/*
!/uploads/.gitkeep
# frontend
/.next
/out
/.nuxt
/.cache
/public/build
/public/hot
/public/mix-manifest.json
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.idea
*.iml
*.sublime-workspace
*.sublime-project
*.log
.cache
*.tsbuildinfo

/backend/node_modules
/frontend/node_modules